@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Satoshi";
  src: url("./utils/Fonts/Satoshi-Variable.ttf") format("truetype");
  /* /Users/dreamworld/Desktop/lpl-website/src/utils/Fonts/Satoshi-Variable.ttf */
}
body{
  background-color: white;
}
*{
  margin:0;
  padding:0;
  font-family: "Satoshi" !important;
}
.font-mont{
  font-family: "Monteserrat" ,sans-serif !important;
}
.underline{
  background-color: #3500D3;
  height:0.25rem;
  width:3rem;
  }
.card{
  width:70%;
  display: grid;
  padding: 20px;
  place-items:center;
}
.CarouselCards{
  width: 100% !important;
}
.image-mask{
  border-radius: 50% 50% 3.5rem 0px;
}

@keyframes fadeInOut {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
.box-shadow{
  border-radius: 50%;
  box-shadow: 0px 0px 45px 10px rgba(233,225,255,1)
}
.shadow-left{
  border-radius: 50% 0 0 50%;
  box-shadow: -30px 0px 45px -20px rgba(233,225,255,1);
}
.shadow-right{
  border-radius: 0 50% 50% 0;
  box-shadow: 30px 0px 45px -20px rgba(233,225,255,1);
}
.font-weight-900{
  font-weight: 900;
}
.border-gradient {
  border-width: 1px;
  border-image: linear-gradient(to right, #0044cc, #3500D4);
  border-image-slice: 1;
}
.contact-card{
  overflow-y: hidden
}
.grad-cirlce-1{
  z-index:-2;
  filter: blur(15px);
}
.line{
  border:1px solid #E9E1FF;
}
.left{
  left:-300px
}
.right{
  right:-300px
}
.upper{
  top:20px;
  width:921px;
}
.lower{
  bottom:20px;
  width:474px;
}
.inverted{
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 12px solid #3500D4; 
}
.ellipse{
  background:#230090;
  filter:blur(300px);
  z-index:-3;
}
.ellipse-2{
  background:#230090;
  filter:blur(230px);
  z-index:-3;
}

#process{
  transition-timing-function: ease-in-out;
}

@media (max-width: 980px) {
  .shadow-left,.shadow-right {
    border-radius: 50% 50% 0 0;
    box-shadow: 0px -30px 55px -10px rgba(233,225,255,1);
    margin-bottom:20px;
  }
  .box-shadow{
    box-shadow: none;
  }
}
@layer components {
  .F-JC-AI-CENTER {
    @apply flex items-center justify-center;
  }

  .NavText {
    @apply text-[16px] text-arrow-blue;
  }
  .MainHeadingText {
    @apply text-LaptopMainHeading font-bold text-blackish max_md:text-MainHeading max_md:font-extrabold;
  }
  
  .HeadingText {
    @apply text-LaptopHeading font-weight-900 text-classic-dark-bluish max_md:text-Heading;
  }
  .ProcessHeading{
    @apply text-LaptopHeading font-weight-900  max_md:text-Heading text-lavendar;
  }
  .SubHeadingText {
    @apply text-LaptopSubHeading font-medium text-arrow-blue max_md:text-SubHeading; 
  }
  .ProcessSubHeading{
    @apply text-LaptopSubHeading font-medium text-lavendar max_md:text-SubHeading ;
  }

  .GradientButton {
    @apply bg-gradient-to-b from-button-blue to-[#3500D4] font-semibold text-MediumSize text-white max_md:text-SmallSize;
  }
  .CardTitle {
    @apply text-classic-dark-bluish font-weight-900 text-LaptopCardHeading max_md:text-CardHeading
  }
  .ContactCard{
    @apply text-LargeSize border-[1px] font-medium border-[#E7DFFE] rounded-LaptopCardRadius p-10 bg-white max_md:rounded-CardRadius max_md:text-SmallSize;
    box-shadow: 0px 0px 10px 0px #E7DFFE;
  }
  .FooterText{
    @apply font-medium text-RegularSize text-[#BAACE4] max_md:text-FooterSize;
  }
  /* left to edit */
}